.image{
    background-color: #E5F2ED;
    position: relative;
}

.image, .register-form{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 30rem;
}

.register-form{
    background-image: url(/assets/bg-registro.jpg);
    display: grid;
    place-content: center center;
}

.mat-card{
    max-width:300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.full-width-input{
    width: 100%;
}
button{
    margin:2rem 1rem 0 0;
}

.register-btn{
    display: grid;
    place-content: center center;
    height: 100vh;
}

.register-btn button{
    width:100%;
}

.mat-raised-button{
    margin-top: 2rem;
    width: 100%;
    border-radius: 25px;
}
h1{
    font-weight:700;
}

span{
    text-align: center;

}

@media (min-width: 768px) {
    .image, .register-form{
        height: auto;
    }
    .register-container{
        height:100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .mat-card{
        max-width:300px;
        margin: 2rem auto;
        text-align: center;
    }

    .mat-raised-button{
        width:50%;
    }
}

@media (max-width:768px){

    .register-btn{
        height: 50vh;
    }
}