<!-- <a class="nav-link " routerLink="/auth/login">Sing In</a>-->

<nav class=" p-3 nav-pills navbar-expand-lg navbar-light bg-light">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/auth/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/register">Registrarme</a>
        </li>
      </ul>
  </nav>

<div fxLayout="row" fxLayoutAlign="center center" >
        <div class="row  texto" >
            <div class="imagen">
                <img src="/assets/404.png" >
            </div>
        
             <h2>OOPS!</h2>
            <p>PAGE NOT FOUND</p>
            <span>404</span>
         
        </div> 
</div>